.filter-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 107.142857%; /* 60/56 */
	text-align: center;
	letter-spacing: 0.02em;
}

.portfolio-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 111.111111%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}
.button {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%; /* 24/16 */
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--iris-color);
	background-color: var(--text-cloud-color);
	border: 1px solid var(--text-cornflower-color);
	border-radius: 4px;
	cursor: pointer;
  
}
.button:hover,
.button:focus {
	color: var(--main-white-color);
	background-color: var(--ocean-color);
}
.portfolio-list .title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%; /* 24/20 */
	letter-spacing: 0.02em;
	color: var(--primary-color-text);
}
.portfolio-list .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%; /* 24/16 */
	letter-spacing: 0.02em;
	color: var(--secondary-color-text);
}
